.blogs {
  h4 {
      font-weight: 600;
    }
  //HERO
  .hero {
    @apply bg-primary text-secondary p-4;
    .wrapper {
      display: block;
      margin-inline: auto;
      @media (width >= 75em) {
        width: 75rem;
      }
    }
    h1 {
      @apply text-darkgray;
      @media (width >= 60em) {
        @apply pt-6
      }
    }
    span {
      font-weight: 400;
      @apply text-secondary italic;
    }
    p {
      @apply pt-4;
      width: 22rem;
      @media (width >= 60em) {
        @apply  py-6;
      }
    }
  }
  //Blog list
  .blog-list {
    @apply bg-lightgray w-full;

    .wrapper {
      display: block;
      margin-inline: auto;
      @apply grid grid-cols-1;

      @media (width >= 75em) {
        width: 75rem;
      }
      &__cont1{
        @apply col-span-1 grid grid-cols-1 border-b border-primary;

        @media (width >= 40em) {
          @apply grid-cols-5;
        }
        .img-cont{
          @apply col-span-1 flex justify-start p-4;

          @media (width >= 40em) {
            @apply col-span-2 flex justify-center;
          }

          img {
            width: auto;
            height: auto;

            @media (width >= 40em) {
              width: 18.75rem;
            }
          }
        }
        .text-cont {
          @apply col-span-1 p-4;

          @media (width >= 40em) {
            @apply col-span-3;
          }
        }
      }
    }
  }
}

