.contact-us {
  //Hero
  .hero {
    @apply text-primary py-4;
  @media (width < 90rem) {
    padding-inline: 1rem;
  }
    .wrapper {
      display: block;
      margin-inline: auto;
      @media (width >= 75em) {
        @apply pt-[128px];
        max-width: 1440px;
      }
    }
    h3{
      @apply text-center;
    }
    p {
      @apply pt-4 text-center;
      display: block;
      margin-inline: auto;
      max-width: 622px;
    }
  }
  //Message form
  .message-form {
    h2 {
      font-weight: 400;
      @apply text-darkgray;
    }
    @media (width < 90rem) {
      padding-inline: 1rem;
    }
    @media (width >= 75em) {
      @apply pb-[64px];
    }
    .wrapper {
      @apply bg-primary text-secondary rounded-[32px] p-6;
      display: block;
      max-width: 720px;
      margin-inline: auto;
      @media (width >= 75em) {
        @apply p-[64px];
      }
      &__form {
        @apply flex flex-col;
        .wpcf7-submit {
          font-weight: 400;
          width: max-content;
          @apply py-2 px-12 text-primary bg-secondary border-none rounded-full;
        }
        form input, form textarea {
          @apply bg-secondary border-b-2 border-darkgray w-full my-2 p-2 rounded-2xl text-primary;
        }
        input::placeholder,
        textarea::placeholder {
          color: #1A1C1E;
          opacity: 1;
        }
        form input:focus,
        form textarea:focus {
          outline: none; /* Remove default outline */
          border-color: #000000; /* Change border color to desired focus color */
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); /* Optional: Add glow effect */
        }
        .wpcf7-submit {
          @media (width < 40rem) {
            width: 100%;
          }
        }
      }

      // /* Specific focus color for Name input */
      // form #name:focus {
      //   border-color: #FF5733; /* Example custom color */
      // }
    }
  }
  //Visit Us
  .visit-us {
    @apply w-full;

    @media (width < 90rem) {
      padding-inline: 1rem;
    }

    .wrapper {
      @apply flex flex-col;

      iframe {
        @apply py-16;
        height: 450px;
      }
    }
    p, h4 {
      @apply text-center;
    }
  }
}
