footer {
  @apply bg-ashwhite flex flex-col;

  @media (width > 40em) {
    @apply pt-10 px-4;
  }
  @media (width >= 60em) {
    @apply px-4;
  }
  @media (width >= 75em) {
    @apply px-10;
  }


  .list {
    margin-inline: auto;
    @apply  grid grid-cols-1;
    max-width: 1440px;

    ul li {
      font-size: 1rem;
    }
    @media ( width < 40rem ) {
      @apply px-0;
    }
    @media ( width >= 40rem ) {
      @apply grid-cols-2;
    }
    @media ( width >= 75rem ) {
      @apply grid-cols-4;
    }
    .list-cont {
      @apply col-span-1 p-4;
      @media (width >= 40rem ) {
        @apply py-4 pl-0
      }
      .site-logo img{
        height: 3.125rem;
        width: auto;
        @apply pb-2;
      }
      .contact-info li {
        @apply py-2  flex gap-4 items-center;
        @media (width >= 40rem) {
          @apply py-2;
        }
      }
      .footer-menu {
        li {
        @apply py-1 uppercase;
        }
      }
    }

  }
  .copyright {
    @apply flex flex-row-reverse  pb-[48px];
    border-top: solid 1px;
    border-color: rgba(26, 28, 30, 0.25);;
    margin-inline: auto;
    @media (width < 75rem) {
      @apply w-full px-4;
    }
    @media (width >= 75rem) {
      @apply w-full px-4;
      max-width: 1440px;;
    }
  }

  /* Search Overlay */
  .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.90); /* black with low opacity */
    display: none;
    z-index: 9999;
  }

  /* Active state */
  .search-overlay.active {
    display: block;
    z-index: 999999;
  }

  /* Search box */
  .search-box {
    position: relative;
    padding: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Input */
  .search-box input {
    width: 100%;
    padding: 14px 16px;
    font-size: 18px;
    border: 1px solid #ddd;
    outline: none;
  }

  /* Close button */
  .close-search {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  //Search Results UI
  #search-results{
    background: transparent;
    box-shadow: none;
  }
  .search-results {
    width: 100%;
    margin-top: 10px;
  }

  .search-result-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .search-result-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .search-result-item a {
    text-decoration: none;
    color: #fff;
    display: block;
  }

  .search-result-item a:hover {
    text-decoration: underline;
  }

  .no-results {
    padding: 10px 0;
    color: #fff;
  }
  .search-loading {
    color: #fff;
  }
}
