.header-cont {
  @apply bg-secondary px-10;
  position: sticky;
  top: 0;
  z-index: 99999; // Ensure it's above other elements
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.9); // Light gray background with transparency
    backdrop-filter: blur(8px); // Apply blur effect
  }

  @media (width >= 60em) {
    &.scrolled {
      background-color: rgba(255, 255, 255, 0.9); // Apply semi-transparent background
      backdrop-filter: blur(8px); // Apply blur effect on scroll for larger screens
    }
  }
  @media (width < 60em) {
    @apply px-0;
  }
}

.header-primary {
  @apply py-[16px];
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease; // Transition for the blur effect

  @media (width >= 60em) {
    // Apply only on larger screens
    &.scrolled {
      background-color: rgba(255, 255, 255, 0.888); // Light gray background with transparency
      backdrop-filter: blur(8px); // Apply blur effect
    }
  }

  @media (width >= 75em) {
    margin-inline: auto;
    max-width: 90rem;
  }
  img {
    max-height: 72px;
    width: auto;
    @media (width <= 60em) {
      max-height: 64px;
    }
  }

  ul {
    z-index: 9999999;
    display: flex;
    align-items: center;

    @media (width < 60em) {
      position: absolute;
      top: 6rem;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      @apply bg-secondary;
      align-items: flex-start;
    }
  }

  li {
    font-weight: 300;
    padding: 1rem;
    @apply uppercase text-center;
  }

  .menu-icon {
    display: none;

    @media (width < 60em) {
      @apply pr-2;
      display: block;
    }

    i {
      @apply text-primary;
      font-size: 1.5rem;
    }
  }

  #menu-primary-menu {
    transition: all 0.5s;
  }
  button.hris {
    padding: 8px 32px;
    border-radius: 100px;
    background: var(--Primary-black, #1A1C1E);
    box-shadow: 0px 100px 80px 0px rgba(30, 26, 26, 0.07), 0px 30.147px 24.118px 0px rgba(30, 26, 26, 0.05), 0px 12.522px 10.017px 0px rgba(30, 26, 26, 0.04), 0px 4.529px 3.623px 0px rgba(30, 26, 26, 0.02);
  }
}




/* General styles for navigation links */
.nav-primary a {
  color: black; /* Default link color */
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect: Change text color to dark gray */
.nav-primary a:hover {
  @apply text-lightgray;
}

/* Active effect: Add underline to the text */
.nav-primary a:active,
.nav-primary .current-menu-item > a {
  text-decoration: underline; /* Underline for active and current page links */
  @apply text-primary;
}
.hris {
  @media (width < 60em) {
    display: none;
  }
}
.logo {
    @media (width < 60em) {
    @apply pl-2;
  }
}
.search-btn {
  @media (width < 40rem) {
    display: none;
  }
}
.mobile_menu {
  @apply flex gap-6;
  @media (width > 40rem) {
    display: none;
  }
}
