.header-cont {
  @apply bg-secondary;
  position: sticky;
  top: 0;
  z-index: 99999; // Ensure it's above other elements
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &.scrolled {
    background-color: rgba(238, 238, 238, 0.9); // Light gray background with transparency
    backdrop-filter: blur(8px); // Apply blur effect
  }

  @media (width >= 60em) {
    &.scrolled {
      background-color: rgba(238, 238, 238, 0.9); // Apply semi-transparent background
      backdrop-filter: blur(8px); // Apply blur effect on scroll for larger screens
    }
  }
}

.header-primary {
  @apply px-4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease; // Transition for the blur effect

  @media (width >= 60em) {
    // Apply only on larger screens
    &.scrolled {
      background-color: rgba(238, 238, 238, 0.9); // Light gray background with transparency
      backdrop-filter: blur(8px); // Apply blur effect
    }
  }

  @media (width >= 75em) {
    padding: 0;
    margin-inline: auto;
    width: 75rem;
  }

  img {
    height: 60px;
    width: auto;
  }

  ul {
    z-index: 9999999;
    display: flex;
    align-items: center;

    @media (width < 60em) {
      position: absolute;
      top: 6rem;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      @apply bg-secondary;
      align-items: flex-start;
    }
  }

  li {
    font-weight: 400;
    padding: 1rem;
    @apply uppercase text-center;
  }

  .menu-icon {
    display: none;

    @media (width < 60em) {
      display: block;
    }

    i {
      @apply text-primary;
      font-size: 1.5rem;
    }
  }

  #menu-primary-menu {
    transition: all 0.5s;
  }
}




/* General styles for navigation links */
.nav-primary a {
  color: black; /* Default link color */
  text-decoration: none; /* Remove underline by default */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect: Change text color to dark gray */
.nav-primary a:hover {
  @apply text-lightgray;
}

/* Active effect: Add underline to the text */
.nav-primary a:active,
.nav-primary .current-menu-item > a {
  text-decoration: underline; /* Underline for active and current page links */
  @apply text-primary;
}

