.latest-news-post {
  //HERO
  .hero {
    @apply text-primary py-[72px];
    .image-container {
      width: 100%;
      height: auto;
    }
    @media (width < 90rem) {
      padding-inline: 1rem;
    }
    .wrapper {
      @apply flex flex-col gap-[32px];
      margin-inline: auto;
      @media (width >= 75em) {
        width: 1440px;;
      }

      .latest-post-container {
        @apply flex flex-col gap-[32px] justify-center items-center;
        width: 100%;
        img {
          width: 100%;
        }
        button {
          @apply text-secondary;
          padding: 8px 32px;
          border-radius: 100px;
          background: var(--Primary-black, #1A1C1E);
          box-shadow: 0px 100px 80px 0px rgba(30, 26, 26, 0.07), 0px 30.147px 24.118px 0px rgba(30, 26, 26, 0.05), 0px 12.522px 10.017px 0px rgba(30, 26, 26, 0.04), 0px 4.529px 3.623px 0px rgba(30, 26, 26, 0.02);
        }
      }
    }
    h1 {
      @media (width >= 60em) {
        @apply pt-0
      }
    }
    p {
      @apply pt-4;
      text-align: justify;
      width: 100%;
      @media (width >= 60em) {
        @apply  py-6;
      }
    }
  }
  //Blog list
  .latest-news-list {
    @apply w-full p-4 flex flex-col items-center;

    @media (width < 90rem) {
      padding-inline: 1rem;
    }

    .wrapper {
      @apply grid grid-cols-1 gap-2 py-[64px] auto-rows-fr auto-cols-fr;

      @media (width >= 40em) {
        @apply grid-cols-2 gap-4 pt-6;
      }
      @media (width >= 60em) {
        @apply grid-cols-3 gap-4 pt-10;
      }
      @media (width >= 75em) {
        max-width: 1440px;
      }
      .latest-news-card {
        @apply flex flex-col gap-[8px] bg-ashwhite rounded-[16px];
         box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02);
        .img-cont {
          @apply w-full;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px 16px 0px 0px;
          }
        }
        .text-cont {
          @apply flex flex-col gap-[8px];
          padding: 16px;
        }
      }
      h4 {
        @apply py-6 uppercase;
      }
      .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }

      .pagination a,
      .pagination span {
        padding: .125rem .5rem .125rem .5rem;
        margin: 0 5px;
        border-radius: 50%;
        text-decoration: none;
      }

      .pagination .current {
        @apply text-graybase;
      }

    }
  }
}

